{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            $('#statsTable').DataTable({
                paging: false,
                searching: false,
                lengthChange: false
            });
        });
    </script>
    <style type="text/css">
        .quality4 {
            background: #90ff90;
        }

        .quality3 {
            background: #ffe867;
        }

        .quality2 {
            background: #b0b0ff;
        }

        .quality1 {
            background: #ffa0a0;
        }

        .quality0 {
            background: #dddddd;
        }

        .withscans {
            background: #c0c0ff;
        }

        .naked {
            background: #ffa0a0;
        }

        .disamb {
            background: #dddddd;
        }

    </style>
{% endblock head %}

{% block main %}
    <p> Statistics on <b> {{ timestamp }} </b> </p>
    <table id="statsTable" class="table table-hover table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th colspan="7" style="text-align:center">Page namespace</th>
            <th colspan="4" style="text-align:center">Main namespace</th>
        </tr>
        <tr>
            <th class="th-sm">Language
            </th>
            <th class="th-sm">All pages
            </th>
            <th class="th-sm quality0">Without text
            </th>
            <th class="th-sm quality1">Not proofread
            </th>
            <th class="th-sm quality2">Problematic
            </th>
            <th class="th-sm quality3">Proofread
            </th>
            <th class="th-sm quality4">Validated
            </th>
            <th class="th-sm">All pages
            </th>
            <th class="th-sm withscans">With scans
            </th>
            <th class="th-sm naked">Without scans
            </th>
            <th class="th-sm">%
            </th>
        </tr>
        </thead>
        <tbody>
            {% for stat in data %}
            <tr>
                <td>{{ stat.language_code }}</td>
                <td>{{ stat.num_of_pages }}</td>
                <td>{{ stat.without_text }}</td>
                <td>{{ stat.not_proofread }}</td>
                <td>{{ stat.problematic }}</td>
                <td>{{ stat.proofread }}</td>
                <td>{{ stat.validated }}</td>
                <td>{{ stat.main_pages }}</td>
                <td>{{ stat.main_with_scan }}</td>
                <td>{{ stat.main_without_scan }}</td>
                <td>{{ (100 * stat.main_with_scan / (stat.main_with_scan + stat.main_without_scan)) | round(2) if (stat.main_with_scan + stat.main_without_scan) > 0 else 0 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <button type="submit" class="btn btn-primary" onclick="window.location.href='{{ url_for("wikitable") }}'">Get
        Wikitable
    </button>
{% endblock %}